@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Markazi+Text:wght@400..700&family=Oswald:wght@200..700&display=swap');

:root{
    --Title-color: whitesmoke;
    --Bg-Dark-color: #1b1b1b;
    --transparent-background: #1b1b1b96;
}

body{
    height: 100vh;
    margin: auto;
    font-size: 2rem;
    font-style: italic;
    line-height: 2rem;
    font-family:  "Markazi Text", serif;
    font-weight: 500;
    text-shadow: 0px 0px 2px #454535;
}

header{
    padding: 10px 10px;
    height: 150px;
    background: #1b1b1b;
    box-shadow: 0px 1px 9px 0px #454535;
}

header > h1{
    font-size: 4rem;
    display: block;
    text-align: center;
    color: var(--Title-color);
    font-family: "Bordoni Moda", serif;
    font-weight: bolder;
    font-style: normal;
    text-shadow: 0px 4px 3px #4e4e1d;
}

header > h1 > a{
    text-decoration: none;
    color: var(--Title-color);
    text-shadow: 0px 4px 3px #4e4e1d;
}

header > h1 > a:hover{
    color: #818155;
    transition-duration: 0.5s;
}


header > h2{
    font-size: 1.5rem;
    display: block;
    text-align: center;
    font-weight: 100;
    font-style: normal;
    color: var(--Title-color);
    text-shadow: 0px 3px 2px #454535;
}

header > h2 > a{
    text-decoration: none;
    color: #818155;
    font-weight: 900;
}

header > h2 > a:hover{
    color: #e0e091;
    font-weight: 900;
    transition-duration: 0.5s;
}

section#container{
    position: relative;
    height: 50px;
    background-image: url("../media/img/fundoaudio.jpg");
    background-size: contain;
}

section#container > audio{
    position: absolute;
    left: 50%;
    transform: translate(-50% );
}

section#img0{
    
    background-image: url("../media/img/cordel1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section#img1{
    
    background-image: url("../media/img/cordel2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section#img2{
    background-image: url("../media/img/cordel3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section#img3{
    background-image: url("../media/img/cordel4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section{
    text-align: left;
    padding: 20px 20px;
    box-shadow: 0px -1px 3px 0px var(--Bg-Dark-color);
    z-index: 10;
}

p.caixa{
    color: var(--Title-color);
    padding: 30px 30px;
    background-color: var(--transparent-background);
    border-radius: 5px 5px;
    width: 336px;
}

footer{
    padding: 3px 3px;
    color: var(--Title-color);
    font-size: 1rem;
    background-color: var(--Bg-Dark-color);
    text-align: center;
    font-style: normal;
}

footer > p > a{
    text-decoration: none;
    color: #818155;
}

footer > p > a:hover{
    text-decoration: none;
     color: #e0e091;
}